body{
    background-color:darkgray;
}
h1{
    color: khaki;
    font-size: 30px;
}
.head{
    font-size: 50px;
}
.head1{
    text-align: center;
}
.current{
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
p{
    font-size: 25px;
}
.small{
    font-size:15px;
}
a:hover{
    background-color:yellow;
}
ul{
    list-style-type: none;
}
.foot{
    text-align: center;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}